@import 'src/presentation/task/task.css';


body {
    margin: 0;
    background: #1B1A17;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 8px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.input-field {
    width: 100%;
    height: 35px;
    background: #242320;
    border: 1px solid #FF8303;
    color: #F0E3CAA3;
    padding: 0 10px;
    box-sizing: border-box;
}

.add-button {
    flex: 0 0 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FF8303;
    background: #1B1A17;
    color: #FF8303;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s, box-shadow 0.3s;
    box-sizing: border-box;
    border-radius: 10px;
}

.add-icon {
    width: 30px;
    height: 30px;
    transition: filter 0.3s;
}

.add-button:hover {
    background: #A35709;
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.add-button:hover .add-icon {
    filter: brightness(0) invert(1);
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .input-container {
        width: 100%;
    }

    .add-button {
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
}

.task-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    color: white;
    padding: 10px 0;
}

.task-line {
    width: 35px;
    height: 2px;
    background-color: #FF8303;
    border: none;
    margin: 7px 0px;
}